
@{
    ViewData["Title"] = "misQuedadas";
}

<div class="container py-4">
    <div class="card bg-light cardPrincipal">
        <div class="card-header border-bottom border-3">
            <h3 class="subtituloSecundario">Mis Quedadas</h3>
        </div>
        <div class="card-body">
            @if(ViewBag.MisQuedadas != null)
            {
                <div class="row">
                    @foreach (var quedada in ViewBag.MisQuedadas)
                    {
                        <div class="col-md-8 offset-md-2 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="textoPrincipal">Quedada: @quedada.Estado</h4>
                                    <br />
                                    <h6 class="card-title">@quedada.Lugar - @quedada.FechaHora</h6>
                                    <p class="card-text">@quedada.Descripcion</p>
                                    <a asp-controller="Quedadas" asp-action="VerDetallesQuedada" asp-route-id="@quedada.Id" class="btn buttonPrincipal"><i class="bi bi-file-text"></i> Ver Detalles</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <h5 class="card-title text-center text-danger">No tienes registro de ninguna quedada.</h5>
            }
        </div>
    </div>
</div>

